<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="Hero d-flex align-items-center justify-content-center container">
        <div class=" text-black fw-bold">
            <p class="text-uppercase head m-0 mb-5">shfl</p>
        </div>
    </div>
    <div class="text-center">
        <h1 class=" shfl m-0"><%= text.shfl %></h1>
        <div class="border-bottom  art my-2 w-50 mx-auto">
            <p class="m-0 m-lg-2 fs-3 text-light ">Your Home for art, cultural events and fashion on a shuffle</p>
        </div>
    </div>
    <div class="container text-light  gap-5 my-lg-4">
        <div class="row gap-5 justify-content-center">
            <div class="shuffle text-dark col-lg-6 col-6">
                <img src="/images/shuffle.jpg" width="400" height="400" alt="shflbeat">
            </div>
            <div class=" shuffle_dave my-lg-5  col-lg-6 col-6">
                <div class="trending ">
                    <div>
                        <h2 class="fw-semibold">Hot Trending on this<br /> week</h2>
                    </div>
                    <div class="text-start uncover w-100 my-lg-4">
                        <p class="">Discover the hidden techniques that elevate your artistry: Expert tips to enhance your creative journey.
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="">
                            <a class="text-light fs-4 text-decoration-none" >See all</a>
                        </div>
                        <a class="d-flex arrow align-items-center text-light text-decoration-none" href="/blog">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-arrow-right"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-lg-4 text-center my-2 border-0 bg-transparent">
        <% spotify.forEach(item=> { %>
            <div class="d-flex my-lg-0 my-3 align-items-center LLonaSpotify justify-content-center">
                <a href="<%= item.link %>">
                    <img src="data:<%= item.image.contentType %>;base64,<%= item.image.data %>" width="600" height="550"
                       class="" alt="LLonaSpotify">
                </a>
            </div>
            <div class="card-body ">
                <div class="text-light">
                    <h2 class="text-light-emphasis fw-semibold text-capitalize fs-4">
                        <%= item.playlistname %>
                    </h2>
                </div>
            </div>
            <% }) %>
    </div>
   <div class="container">
        <div class="row">
            <% post.forEach(posts=> { %>
                <div class="col-lg-4 col-12 mx-auto">
                    <a href="/blog/<%= posts._id%>" class="post text-decoration-none d-lg-block d-flex align-items-center justify-content-center">
                        <img src="data:<%= posts.image.contentType %>;base64,<%= posts.image.data %>" alt="<%= posts.title %>" class=""
                            width="300" height="300" />
                    </a>
                    <div>
                        <h3 class="post-title fw-bolder fs-5 text-light-emphasis text-uppercase my-2 text-lg-start text-center ">
                            <%= posts.title %>
                        </h3>
                    </div>
                    <div>
                        <p class="m-0 text-light p-lg-0 p-4 pt-lg-0 pt-0 text-white"><%= posts.description.substring(0,140) + "..." %>  
                            <a class="text-light" href="/blog/<%= posts._id%>"> read more</a>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
   </div>
    </div>
    <div class="bg-black bg-service">
        <div class="container mx-auto">
            <div class="row">
                <div class=" Pr col-lg-6">
                    <p class="m-0 py-3 fs-3">Marketing & PR</p>
                </div>
                <div class="py-3 col-lg-6">
                    <p class="m-0 text-light text-uppercase">boost your brand's visibility and engagement with our innovative marketing and PR strategies</p>
                </div>
                <div class=" Pr col-lg-6">
                    <p class=" py-3 fs-3">Content Creation</p>
                </div>
                <div class="py-3 col-lg-6">
                    <p class="m-0 text-light text-uppercase">Unlock the secrets to impactful content creation! Engage your audience and boost your brand with expert strategies</p>
                </div>
            </div>
        </div>
    </div>
</body>



<!-- <div id="carouselExampleAutoplaying" class="carousel py-lg-3 slide w-50 mx-auto py-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item heroImg active" data-bs-interval="4000">
            <img src="/images/Home/LLona.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item heroImg" data-bs-interval="4000">
            <img src="/images/Home/llona2.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
        <div class="carousel-item heroImg" data-bs-interval="4000">
            <img src="/images/Home/slawn.jpg" class="d-block w-75 mx-auto" alt="...">
        </div>
    </div>
</div> -->