<!-- if adimin doesn't have post what should happen -->
<div>
    <div class="text-center text-light my-lg-4 my-3">
        <h1>Nextbeats</h1>
    </div>
    <div class="container">
        <div class="row mx-lg-0 mx-3 justify-content-center ">
            <% if (nextb.length > 0) { %>
                <% nextb.forEach((nextB, index )=> { %>
                    <div class="d-lg-flex align-self-center">
                        <h4 class="text-light text-uppercase fs-2">
                            <%= nextB.title %>
                        </h4>
                    </div>
                    <% nextB.profiles.forEach(profile=> { %>
                        <div class="col-lg-6 posts border border-1 border-light-subtle rounded-top-4 p-lg-2 p-3 m-lg-1  col-md-7 my-4">
                            <div class="card bg-transparent  border-0">
                                <div class="card-header">
                                    <img src="data:<%= profile.profileimage.contentType %>;base64,<%= profile.profileimage.data.toString('base64') %>"
                                        alt="<%= profile.title %>" class="" width="320" height="300" />
                                </div>
                                <div class="card-body text-white-50 p-0 my-lg-3 text-capitalize">
                                    <h5 class="card-title fw-bold">
                                        <%= profile.name%>
                                    </h5>
                                    <a class="text-decoration-none text-light descript" href="/blog/<%= profile._id%>">
                                        <p class="card-text">
                                            <%= profile.ref %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }) %>
                <% } else { %>
                 <div class="d-lg-flex align-items-center justify-content-center">
                    <div>
                        <div class="text-light-emphasis fs-2">
                            <p class="m-0">You do not have any</p>
                            <span class="text-uppercase text-center">nextbeats</span>
                        </div>
                        <div class="text-center">
                            <a href="/nextbeats/upload" class="text-capitalize btn btn-light">
                                create
                                <span class="text-uppercase">nextbeats</span>
                            </a>
                        </div>
                    </div>            
                 </div>
            <% } %>
            
        </div>
    </div>